@media screen and (max-width:1199px) {
    .top_footer {
		text-align: center;
	}

	.footer_right ul {
		margin-bottom: 0;
		margin-left: 40px;
	}

	.footer_right {
		margin-top: 30px;
		display: flex;
		justify-content: center;
	}

	.footer_right_ul ul {
		margin-top: 20px;
		justify-content: center;
	}
}
@media screen and (max-width: 991px){
    .top_footer {
		text-align: center;
	}

	.footer_left ul {
		display: block;
	}

	.footer_left ul li {
		margin-bottom: 20px;
		margin-right: 0;
	}
}

@media screen and (max-width: 575px){
    .footer_right {
        display: block;
        text-align: center;
    }
    
    .footer_right ul {
        margin-bottom: 0;
        justify-content: center;
        margin-top: 20px;
    }
}

